body { font-family:Helvetica,Arial,sans-serif; font-size:14px; padding:0px; margin:0px; background:url(bg.jpg) repeat; }
.left { float:left; }
.right { float:right; }
ul { list-style:none; margin:0px; padding:0px; }
dl dt { font:13px Helvetica,Arial,sans-serif; color:#8c9198; }
dl dd { margin:0px; padding:10px 0px; }

.wrap { }
.wrap .wrap_left { position:fixed; width:175px; height:100%; padding:10px 30px; color:#fff; background-color:#404853; border-right:1px solid #000; }
.wrap .wrap_left h1 { font-size:32px; }
.wrap .wrap_right { margin-left:260px; padding:22px 30px; }
.wrap .wrap_right dl dt { font-size:25px; font-weight:bold; color:#404853; margin-bottom:10px; }
.wrap .wrap_right dl dd span.checker { display:inline-block; width:14px; height:14px; border:1px solid #ddd; margin:0px 5px -3px 0px; cursor:pointer; }
.wrap .wrap_right dl dd span.checker:hover { border:1px solid #666; }
.wrap .wrap_right .todo_list { padding:10px 0px; }
.wrap .add_task textarea { width:590px; height:50px; border:1px solid #ddd; margin:10px 0px; }
.wrap .add_task button { padding:5px 8px; border: 1px solid #e3f1ed; border-radius:3px; background-color: #f2f8f2; color: #4f946e; }
.wrap .add_task button:hover { border:1px solid #b9dcd0; }
